@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
}
body{
    background-color: lightyellow;
}

img {
	width: 100%;
    display: block;
}

header{
    background-color: black;
    margin: -.4rem;
}

.logo {
    margin-left:auto;
    margin-right:auto;
    width:40%;
    padding:0;
    float: center;
}

.nav-top {
    clear: both;
}

.nav-top ul {
    margin: -.4rem;;
    padding: .2rem;
    background-color:lightblue;
    text-align: center;
}

.nav-top li {
    margin: 0;
    padding: 0;
    display: inline;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
    display: inline-block;
    margin: 0;
    padding: 1.3rem 10%;
    color: black;
    font-size: 1.5rem;
    text-decoration:overline;
}

.billboard-home {
    overflow: hidden;
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size:35rem; 
    background-image: url(../images/drinking-milk.jpg)

}

.billboard-home h1 {
    margin: 5.8rem 0 19rem;
    padding: 3rem;
    font-weight: normal; 
    font-size: 1.4rem;
    letter-spacing: -.1rem;
    padding: .25rem 5%;
    text-align: center;
    opacity: .8;
    color: lightyellow;
    opacity: .8;
}

.abouth5{
    font-size: 2rem;
    background: black;
    color: white;
    margin-top: auto;
}

p{
    margin: 2;
    font-size: 1.3rem;
    padding-right: .2rem;
    text-align: justify;
    font-family: tahoma;
    font-weight: light;
}

article {
    margin: 0;
    margin-top: 3rem;
    padding: .2rem;
    font-size: 1.2rem;
    font-family: Tahoma,Georgia, serif;
    overflow:hidden;
}

.selected {
    background-color: lightblue;
}

article p {
    margin-top: 1rem;
    line-height: 1.7rem;
}

h1 {
    margin: -1.1rem;
    margin-top: -.1rem;;
    padding: 1.44rem;
    text-align: center;
    font-family: tahoma, serif;
    font-size: 2.1rem;
    font-weight: bold;
    color: black;
    font-weight: inherit;
    font-size: 2rem;
    
}

h2 {
    margin-left: auto;
    margin-right:auto;
    float: center;
    padding: 2rem;
    position: absolute;
    text-align: center;
    font-size: 1.9rem;
    color: black;
    font-weight: lighter;
    opacity: .7;
}

h3 {
    text-align: center;
    font-family: tahoma, serif;
    font-size: 2rem;
    font-weight: lighter;
    text-decoration:underline;
    color: lightblue;
    background-color: gray;
}

h4 {
    font-weight: lighter;
    margin:0rem;
}

h5 {
    margin: -.1rem;
    padding: 1.44rem;
    text-align: left;
    font-family: tahoma, serif;
    font-size: 2.1rem;
    font-weight: bold;
    color: white;
    background-color: #2b8aa2;
}

h6{
    margin: -3.1rem;
    margin-top: -.1rem;;
    padding: 1.44rem;
    text-align: center;
    font-family: tahoma, serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    font-weight: inherit;
    font-size: 2rem;
    font-family: Georgia, sans-serif;
}

.cow {
    margin: -2re
}

.products {
    overflow: hidden;
    margin: 0 0 1.5rem;
    padding: 0;
}

.products img {
    float: left;
    width: 35%; 
    margin: 0 5% 0 0;
    padding: 0;
}

.products figcaption {
    float: right;
    width: 30%;
    margin: 0;
    margin-top: 8rem;
    margin-right: 3rem;
    padding: 0;
    font-size: 1.7rem;
    color: black;
    
}

.products1 img{
    float: left;
    width: 60%; 
    margin: 0 5% 0 0;
    padding: 0;
    }

.products1 {
    overflow: hidden;
    margin: 0 0 1.5rem;
    padding: 0;
}

.products1 figcaption{
    float: right;
    width: 13%;
    margin: 0;
    margin-top: 4rem;
    margin-right:5rem;
    padding: 0;
    font-size: 1.7rem;
    color: black;
    
}

footer {
    margin-top: 1rem;
    padding:.7rem;
    background-color: black;
    font-family: Tahoma ,serif;
    font-weight:lighter;
    color: white; 
}
